.container{
    padding-bottom: 10px;
    padding-top: 5px;

    &>.selectContainer{
       font-size: 14px;
       background-color: #100d1e;
       cursor: pointer;
       color: white;
       border: 1px solid white;
       border-radius: 4px;
       font-weight: 600;
       padding: 4px ;
       width: 140px;
    }

    &>.dropDownTitle{
        color: white;
        padding-bottom: 4px;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Montserrat';
    }

    @media screen and (max-width: 500px) {
        & > .selectContainer
        {
            width: 100px;
            padding: 5; 
            font-size: 10px; 
        }
    }
}